.header {
    background-image: linear-gradient(rgba(24, 8, 8, 0.404), rgba(150, 108, 30, 0.5)),url(/IMG/Java-enterprise-solutions.jpg);
    margin: auto;
    background-repeat:no-repeat;
    background-size: cover;
}