body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(22, 9, 1, 0.671), rgba(90, 42, 11, 0.5)),url(img/bn2.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    padding: 20px;
}

.header .navbar {
    width: 90%;
    height: 10vh;
    border-bottom: 1px solid rgb(238, 234, 12);
    margin: auto;
    gap: 10px;
    display: flex;
    padding-top: 10px;
    margin: auto;
    
}

.navbar .logobox {
    width: 10%;
    height: 8vh;
    margin-left: 15px;
    background-image: url(img/logo.JPG);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    
}


.navbar .links {
    width: 84%;
    height: 8vh;
    /* background: black; */
}

.navbar .links ul {
    display:flex;
    gap: 20px;

}

.navbar .links ul li {
    list-style: none;
}

.navbar .links ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.navbar .links ul li a:hover {
    color: orange;
    cursor: pointer;
    transition: 1.2s;
}

/* end of navebar */

.bncontainer {
    width: 90%;
    height: 70vh;
    /* background: yellow; */
    margin: auto;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.bncontainer .bannerleft {
    width: 50%;
    height: 70vh;
    /* background: green; */
    border-left: 2px white solid;
    border-bottom: 2px white dotted;
    padding-left: 15px;
    border-bottom-left-radius: 15px;
}

.bncontainer .bannerright {
    width: 50%;
    height: 70vh;
    /* background: green; */
    border-right: 2px white dotted;
    border-top: 2px white solid;
    padding-left: 15px;
    border-top-right-radius: 15px;
}


.bncontainer .bannerleft h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 60px;
    margin-top: 20vh;
}

.bncontainer .bannerleft h1 b {
    color: red;
}

.bncontainer .bannerleft h1 b:hover {
    color: white;
    transition: 1s;
}


.bncontainer .bannerleft p{
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.bncontainer .bannerleft  button {
    padding: 10px;
    border-radius: 8px;
    border: solid red 2px;
    background: transparent;
    color: white;
    display: block;
    margin: auto;
}

.bncontainer .bannerleft  button:hover {
    background: red;
    border: white solid 2px;
    transition: 1.2s;
}


.bannerright img {
    width: 60%;
    transform: scaleX(-1);
    
}

/* end of header */

.boxholder {
    width: 98%;
    height: 40vh;
    /* background: red; */
    margin: auto;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
}

.boxholder .box1 {
    width: 24.5%;
    padding: 10PX;
    border: solid rgb(236, 7, 7) 2px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.boxholder .box2 {
    width: 24.5%;
    border: solid rgb(236, 7, 7) 2px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.boxholder .box3 {
    width: 24.5%;
    border: solid rgb(236, 7, 7) 2px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.boxholder .box4 {
    width: 24.5%;
    border: solid rgb(236, 7, 7) 2px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* BOSX1 START */

.boxholder .box1 h4 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    font-size: 30px;
    margin-top: 8px;
}

.boxholder .box1 p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.boxholder .box1 button {
    padding: 10px;
    border-radius: 8px;
    border: solid red 2px;
    background: transparent;
    color: black;
    display: block;
    margin: auto;
}

.boxholder .box1 button:hover {
    background: red;
    border: white solid 2px;
    color: white;
    transition: 1.2s;
}
/* box1 */

.boxholder .box2 h4 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    font-size: 30px;
    margin-top: 8px;
}

.boxholder .box2 p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.boxholder .box2 button {
    padding: 10px;
    border-radius: 8px;
    border: solid red 2px;
    background: transparent;
    color: black;
    display: block;
    margin: auto;
    margin-top: auto;
}

.boxholder .box2 button:hover {
    background: red;
    border: white solid 2px;
    color: white;
    transition: 1.2s;
}

/* BOX2 */



.boxholder .box3 h4 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    font-size: 30px;
    margin-top: 8px;
}

.boxholder .box3 p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.boxholder .box3 button {
    padding: 10px;
    border-radius: 8px;
    border: solid red 2px;
    background: transparent;
    color: black;
    display: block;
    margin: auto;
    margin-top: auto;
}

.boxholder .box3 button:hover {
    background: red;
    border: white solid 2px;
    color: white;
    transition: 1.2s;
}

/* BOX3 */



.boxholder .box4 h4 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    font-size: 30px;
    margin-top: 8px;
}

.boxholder .box4 p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.boxholder .box4 button {
    padding: 10px;
    border-radius: 8px;
    border: solid red 2px;
    background: transparent;
    color: black;
    display: block;
    margin: auto;
    margin-top: auto;
}

.boxholder .box4 button:hover {
    background: red;
    border: white solid 2px;
    color: white;
    transition: 1.2s;
}